<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<title>MVR - Movie Recommender</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<!-- CSS -->
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	
	<!-- Search Division -->
	<div class="search">
		<form>
			<input type="text" onkeyup="show_movies(this.value);" class="search" id="title" autocomplete="off">
			<div id="movies" style="display: none;"></div>
			<div><button type="button" class="btn btn-primary" onclick="movie_name();">Search</button></div>
		</form>
	</div>

	<span id="show" style="display: none;">

		<!-- Searched Movie Details Division -->
		<div class="outerBox">
			<div class="poster">
				<img class="poster" id="movie-poster" src="" alt="">
			</div>
			<div class="movie-details">
				<p>
					<span class="heading">TITLE: </span>
					<span class="data" id="movie-title"></span>
				</p>
				<p>
					<span class="heading">GENRES: </span>
					<span class="data" id="movie-genres"></span>
				</p>
				<p>
					<span class="heading">IMDB RATING: </span>
					<span class="data" id="movie-imdb-rating"></span>
				</p>
				<p>
					<span class="heading">RELEASE DATE: </span>
					<span class="data" id="movie-release-date"></span>
				</p>
				<p>
					<span class="heading">CAST:<br></span>
					<span class="data" id="movie-cast"></span>
				</p>
				<p>
					<span class="heading">SUMMARY:<br></span>
					<span class="data" id="movie-summary"></span>
				</p>
				<p>
					<span class="heading"><a id="wiki" target="_blank">WIKIPEDIA</a></span>
				</p>
			</div>
		</div>

		<!-- Top 10 similar movies Division -->
		<div class="similar-movies" id="similar-movies"></div>
	</span>	

	<!-- jQuery Script -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<!-- Script -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
