{% extends 'layout.html' %}

<!-- CSS -->
{% block css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}

{% block body %}
<!-- Search Division -->
<div class="search" id="search">
	<form>
		<input type="text" onkeyup="show_movies(this.value);" class="search" id="title" autocomplete="off">
		<div id="movies" style="display: none;"></div>
		<div><button type="button" class="btn search" onclick="movie_name();">Search</button></div>
	</form>
</div>

<span id="show" style="display: none;">

	<!-- Searched Movie Details Division -->
	<div class="outerBox">
		<div class="poster">
			<img class="poster" id="movie-poster" src="" alt="">
		</div>
		<div class="movie-details">
			<p>
				<span class="heading">TITLE: </span>
				<span class="data" id="movie-title"></span>
			</p>
			<p>
				<span class="heading">GENRES: </span>
				<span class="data" id="movie-genres"></span>
			</p>
			<p>
				<span class="heading">IMDB RATING: </span>
				<span class="data" id="movie-imdb-rating"></span>
			</p>
			<p>
				<span class="heading">RELEASE DATE: </span>
				<span class="data" id="movie-release-date"></span>
			</p>
			<p>
				<span class="heading">CAST:<br></span>
				<span class="data" id="movie-cast"></span>
			</p>
			<p>
				<span class="heading">SUMMARY:<br></span>
				<span class="data" id="movie-summary"></span>
			</p>
			<p>
				<span class="heading"><a id="wiki" target="_blank">WIKIPEDIA</a></span>
			</p>
		</div>
	</div>

	<!-- Top 10 similar movies Division -->
	<div class="similar-movies" id="similar-movies"></div>
</span> 

<!-- No result found alert -->
<div id="no-result" class="alert alert-danger no-result" role="alert" style="display: none;"></div>
{% endblock %}

<!-- Script -->
{% block script %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
